@{
}

<h3 class="text-center mb-4">List of Orders</h3>

<table class="table">
    <thead>
        <tr>
            <th>Units</th>
            <th>Total</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Order Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Order order in ViewBag.Orders)
        {
            int count = 0;
            decimal total = order.ShippingFee;
            foreach (OrderItem item in order.Items)
            {
                count += item.Quantity;
                total += item.Quantity * item.UnitPrice;
            }

            string paymentBadgeColor = "bg-danger";
            if (order.PaymentStatus == "pending")
            {
                paymentBadgeColor = "bg-secondary";
            }
            else if (order.PaymentStatus == "accepted")
            {
                paymentBadgeColor = "bg-success";
            }
            else if (order.PaymentStatus == "canceled")
            {
                paymentBadgeColor = "bg-danger text-dark";
            }

            string orderBadgeColor = "bg-danger";

            if (order.OrderStatus == "created")
            {
                orderBadgeColor = "bg-warning text-dark";
            }
            else if (order.OrderStatus == "accepted")
            {
                orderBadgeColor = "bg-success";
            }
            else if (order.OrderStatus == "canceled")
            {
                orderBadgeColor = "bg-danger text-dark";
            }
            else if (order.OrderStatus == "shipped")
            {
                orderBadgeColor = "bg-primary";
            }
            else if (order.OrderStatus == "delivered")
            {
                orderBadgeColor = "bg-info";
            }
            else if (order.OrderStatus == "returned")
            {
                orderBadgeColor = "bg-danger text-dark";
            }
            else if (order.OrderStatus == "deleted")
            {
                orderBadgeColor = "bg-dark";
            }

            <tr>
                <td>@count</td>
                <td>$@(total)</td>
                <td>@order.PaymentMethod</td>
                <td><span class="badge rounded-pill @paymentBadgeColor">@order.PaymentStatus</span></td>
                <td><span class="badge rounded-pill @orderBadgeColor">@order.OrderStatus</span></td>
                <td>@order.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="ClientOrders" asp-action="Details" asp-route-id="@order.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            string active = "";
            if (i == ViewBag.PageIndex) active = "active";

            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex=@i>@i</a>
            </li>
        }
    </ul>
</nav>