@{
}

<div class="row">
    <div class="col-lg-6 mx-auto rounded border p-4">
        <h2 class="text-center mb-3">User Details</h2>
        <hr />

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["ErrorMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if(TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@TempData["SuccessMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="row mb-2">
            <div class="col-sm-4">First Name</div>
            <div class="col-sm-8">@Model.FirstName</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">Last Name</div>
            <div class="col-sm-8">@Model.LastName</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">Email</div>
            <div class="col-sm-8">@Model.Email</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">PhoneNumber</div>
            <div class="col-sm-8">@Model.PhoneNumber</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">Address</div>
            <div class="col-sm-8">@Model.Address</div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">Role</div>
            <div class="col-sm-8">
                @{
                    var roles = ViewBag.Roles;
                    var rolesString = String.Join(", ", roles);

                    string color = "bg-secondary";

                    if (roles.Contains("Admin"))
                    {
                        color = "bg-danger";
                    }
                    else if (roles.Contains("Seller"))
                    {
                        color = "bg-warning text-dark";
                    }
                    else if (roles.Contains("Client"))
                    {
                        color = "bg-info text-dark";
                    }
                    <span class="badge rounded-pill @color">@rolesString</span>

                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#roleModal">Edit</button>
                }

            </div>
        </div>

        <div class="row mb-2">
            <div class="col-sm-4">Created At</div>
            <div class="col-sm-8">@Model.CreatedAt</div>
        </div>
        <hr />

        <div>
            <a class="btn btn-primary" asp-controller="Users" asp-action="Index">Back </a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
    </div>
</div>


<div class="modal fade" id="roleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit User Role</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" asp-controller="Users" asp-action="EditRole">

                    <input type="hidden" value="@Model.Id" name="id"/>
                    <label>Select User Role</label>
                    <select class="form-select mb-2" name="newRole" asp-items="@ViewBag.SelectItems">
                    </select>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete User Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong>Are you sure you want to delete this user account?</strong>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-controller="Users" asp-action="DeleteAccount" asp-route-id="@Model.Id">Delete </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>