@model List<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
}

<h2 class="text-center mb-5">List of Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>



    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@(user.FirstName + " " + user.LastName)</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    @{
                        var roles = await UserManager.GetRolesAsync(user);
                        var rolesString = String.Join(", ", roles);

                        string color = "bg-secondary";

                        if (roles.Contains("Admin"))
                        {
                            color = "bg-danger";
                        }
                        else if (roles.Contains("Seller"))
                        {
                            color = "bg-warning text-dark";
                        }
                        else if (roles.Contains("Client"))
                        {
                            color = "bg-info text-dark";
                        }
                        <span class="badge rounded-pill @color">@rolesString</span>
                    }
                </td>
                <td>@user.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<nav>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            string active = "";
            if (i == ViewBag.PageIndex) active = "active";

            <li class="page-item" @active>
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }
    </ul>
</nav>