@model List<Product>
@{
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;

    string search = (string)ViewData["Search"]!;
    
    string column = (string)ViewData["Column"]!;
    string orderBy = (string)ViewData["OrderBy"]!;

    string getArrow(string tableColumn)
    {
        if(tableColumn != column) return "";
        
        if(orderBy == "desc") return "▼";
        return "▲";
    }
}

<h2 class="text-center mb-5">List of Products</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Product</a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Search by Name, Brand or Category" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) 
    {
        let orderBy = "desc"
        let currentColumn = "@column";
        let currentOrder = "@orderBy";
        if (column === currentColumn)
        {
            if (currentOrder == "asc") orderBy = "desc";
            else orderBy = "asc";
        }
        window.location.href = "?search=@(search)&column=" + column + "&orderBy=" + orderBy;
    }
</script>


<table class="table">
    <thead>
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('Id')">Id @getArrow("Id")</th>
            <th>Image</th>
            <th style="cursor: pointer;" onclick="sortTable('Name')">Name @getArrow("Name")</th>
            <th style="cursor: pointer;" onclick="sortTable('Brand')">Brand @getArrow("Brand")</th>
            <th style="cursor: pointer;" onclick="sortTable('Category')">Category @getArrow("Category")</th>
            <th style="cursor: pointer;" onclick="sortTable('Price')">Price @getArrow("Price")</th>
            <th style="cursor: pointer;" onclick="sortTable('CreatedAt')">Created At @getArrow("CreatedAt")</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td><img src="/Images/@product.ImageFileName" width="100"/></td>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>$@(product.Price)</td>
                <td>@product.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit" 
                    asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Products" asp-action="Delete" 
                    asp-route-id="@product.Id" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for(int i= 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active"><a class="page-link" asp-route-pageIndex="@i" 
                asp-route-search="@search" asp-route-column="@column" asp-route-orderBy="@orderBy">@i</a></li>

        }
    </ul>
</nav>
